h1 {
    text-align: center;
    background-color: aqua;
    padding: 0;
    margin: 0;
}
#name,#email,#age{
    margin: 10px 10px 10px 10px ;
    width:80% ;
    background-color:blue;
      
}
body {
    background-color: green;
    
}
::placeholder {
    color: red;
    background-color: burlywood;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: red;
    background-color: burlywood;  
}
#language1,#language2,#language3,#language4,#language5,
#language6,#language7,#language8 {
    margin-left: 10px;
}
 /*#language1,#language2,#language3,#language4,
 #language5,#language6,#language7,#language8 */
  .custom-checkbox{
    display: block;
    padding-left: 15px;
     padding-top: 10px;

 }
 #radio {
    display: block;
    justify-content: space-evenly;
    padding: 5px 40px 0px 10px;
 }
 input[type="checkbox"] {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    /*vertical-align: bottom;*/
  }
  button {
    /*display:block;
    justify-content:center;
    align-items:center;
    align-content:center;*/
    margin-left: 40%;
    
  }
  body {
    display: block;
    text-align:justify;
    padding-left: 10px;
  }
  textarea {
    width: 80%;
  }
  button {
    background-color: aqua;
  }